@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$cyan: #2acfcf;
$darkViolet: #3b3054;

// ### Secondary

$red: #f46262;

// ### Neutral

$gray: #bfbfbf;
$grayishViolet: #9e9aa7;
$veryDarkBlue: #35323e;
$veryDarkViolet: #232127;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  overflow-x: hidden;
  background: #f2f2f2;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  color: $veryDarkViolet;
  letter-spacing: -2px;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: $veryDarkViolet;
}
h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: $veryDarkViolet;
}
h5 {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: $grayishViolet;
  letter-spacing: 0.15px;
}

a {
  color: $grayishViolet;
  text-decoration: none;
}

p {
  color: $grayishViolet;
}

button {
  width: 197px;
  height: 56px;
  background: #2bd0d0;
  border-radius: 28px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #9ae3e3;
  }
}

header {
  background-color: white;

  .header-content-container {
    width: 1440px;
    margin: auto;
    height: 800px;
    padding-top: 40px;

    nav {
      display: flex;
      height: 53px;
      justify-content: space-between;
      align-items: center;
      margin: 0 165px 78px 165px;

      .links-container {
        display: flex;
        align-items: center;

        svg {
          margin-right: 45px;
        }

        ul {
          list-style-type: none;
          overflow: hidden;

          li {
            display: inline;
            margin-right: 30px;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #9e9aa8;
            cursor: pointer;

            &:hover {
              color: #34313d;
            }
          }
        }
      }

      .login-signup-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul {
          list-style-type: none;
          overflow: hidden;

          li {
            display: inline;
            margin-right: 30px;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #9e9aa8;
            cursor: pointer;

            &:hover {
              color: #34313d;
            }
          }
        }

        button {
          width: 105px;
          height: 40px;
          font-weight: bold;
          font-size: 15px;
          line-height: 22px;
        }
      }
    }

    .cta-container {
      display: flex;
      align-items: center;
      position: relative;
      height: 482px;
      .cta-content {
        display: flex;
        margin: 0 0 0 165px;
        width: 570px;
        height: 351px;
        flex-direction: column;
        justify-content: space-between;
      }

      .cta-image {
        position: absolute;
        width: 733px;
        height: 482px;
        left: 830px;
        top: 0;
      }
    }
  }
}

main {
  .main-content-container {
    width: 1440px;
    margin: auto;
    position: relative;
    padding: 108px 165px 120px 164px;
    .url-copy-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: -84px;
      margin-left: -555px;
      // margin: -84px auto 0 auto;
      width: 1110px;
      height: 168px;
      background: url("./images/bg-shorten-desktop.svg"), #3b3054;
      border-radius: 10px;

      input {
        width: 769px;
        height: 64px;
        border-radius: 10px;
        border: none;
        padding-left: 32px;
        margin-right: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.15px;

        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 0.15px;
          color: #34313d;
          mix-blend-mode: normal;
          opacity: 0.5;
        }
      }

      small {
        position: absolute;
        left: 5.77%;
        right: 81.53%;
        top: calc(50% - 18px / 2 + 47px);
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.109091px;
        color: #f46363;
      }

      button {
        border-radius: 10px;
        width: 188px;
        height: 64px;
      }
    }
    .shortened-url-container {
      margin-bottom: 120px;
      .shortened-url-content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 24px 18px 32px;
        height: 72px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: unset;
        }

        button {
          width: 103px;
          height: 40px;
          border-radius: 5px;
          text-transform: capitalize;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 22px;
          color: #ffffff;
        }
        p:nth-child(1) {
          flex-grow: 1;
        }

        p:nth-child(2) {
          margin-right: 24px;
        }
      }
    }

    .advanced-statistics-container {
      .advanced-statistics-title {
        width: 540px;
        height: 140px;
        text-align: center;
        margin: 0 auto 56px auto;

        h3 {
          margin-bottom: 18px;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          letter-spacing: 0.122727px;
          color: #9e9aa8;
        }
      }

      .advanced-statistics-main {
        display: flex;
        position: relative;
        // margin: 0 auto 120px auto;
        width: 1110px;
        height: 399px;

        .linethrough {
          position: absolute;
          background: #2bd0d0;
          height: 8px;
          width: 1110px;
          top: 199.5px;
        }

        .advanced-statistics-container-card {
          width: 350px;
          height: 267px;
          z-index: 1;
          background-color: white;
          margin-right: 30px;
          padding: 77px 32px 41px 32px;
          border-radius: 5px;
          position: relative;
          margin-top: 44px;

          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 33px;
            color: #34313d;
            margin-bottom: 12px;
          }

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 26px;

            color: #9e9aa8;
          }

          &:nth-child(2) {
            align-self: center;
          }

          &:nth-child(3) {
            align-self: flex-end;
            margin-right: 0;
          }
          .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3a3054;
            width: 88px;
            height: 88px;
            border-radius: 50%;
            position: absolute;
            top: -44px;
          }
        }
      }
    }
  }
}

.boost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: url("./images/bg-boost-desktop.svg"), #3b3054;
  background-size: cover;
  background-repeat: no-repeat;

  .boost-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
      letter-spacing: -1px;
      color: #ffffff;
      margin-bottom: 32px;
    }

    button {
      width: 197px;
      height: 56px;
      line-height: 30px;
    }
  }
}

footer {
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232127;
  .footer-content-container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: 166px;
    width: 1111px;

    .footer-logo-container {
      align-self: flex-start;
      margin-right: 260px;
    }

    .footer-links-container {
      display: flex;
      justify-content: space-between;
      width: 461px;
      height: 166px;
      margin-right: 101px;

      .links-col {
        p {
          margin-bottom: 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          text-transform: capitalize;
          letter-spacing: -0.234375px;
          cursor: pointer;
          color: #bfbfbf;

          &:nth-child(1) {
            text-transform: capitalize;
            margin-bottom: 22px;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.25px;
            color: #ffffff;
            cursor: unset;
            &:hover {
              color: #ffffff;
            }
          }

          &:hover {
            color: #2bd0d0;
          }
        }
      }
    }

    .footer-social-icons {
      display: flex;
      justify-content: space-between;
      width: 168px;
      height: 24px;
      align-self: flex-start;

      svg {
        cursor: pointer;
        :hover {
          fill: #2bd0d0;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  header {
    .header-content-container {
      width: 375px;
      nav {
        margin: 0 24px 23px 24px;
        height: 33px;

        .links-container {
          width: 100%;
          justify-content: space-between;
          .burger-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 21px;

            .burger-bar {
              height: 3px;
              width: 100%;
              background-color: #9e9aa8;
            }
          }

          ul {
            display: none;
          }
        }

        .login-signup-container {
          display: none;
        }
      }
      .cta-container {
        flex-direction: column-reverse;
        height: unset;
        margin: 0 24px 0 24px;
        .cta-content {
          margin: unset;
          width: 327px;
        }

        .cta-image {
          svg {
            width: 327px;
            // height: 270px;
            background-size: 327px 270px;
          }

          .menu {
            display: none;
            width: 100%;
            height: 383px;
            background: #3a3054;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
